@page "/counter"

<h1>Flight Finder</h1>

<div class = "row mb-3">
	<div class="input-group">
		<input type="text" class="form-control" placeholder="Any"/>
		<button class="btn btn-primary">Find flights</button>
	</div>
</div>

@* @code { *@
@* 	private void FindFlight() *@
@* 	{ *@
		
@* 	} *@
@* } *@




@* <p role="status">Current count: @currentCount</p> *@

@* <button class="btn btn-primary" @onclick="IncrementCount">Click me</button> *@

@* @code { *@
@*     private int currentCount = 0; *@

@*     private void IncrementCount() *@
@*     { *@
@*         currentCount++; *@
@*     } *@
@* } *@
